Source: yadifa
Section: net
Priority: optional
Maintainer: Markus Schade <markus.schade@gmail.com>
Build-Depends: debhelper (>= 8), dpkg-dev (>= 1.16.1~), autotools-dev, libssl-dev, dh-systemd
Standards-Version: 3.9.5
Homepage: http://www.yadifa.eu
Vcs-Git: git://github.com/asciiprod/yadifa.git
Vcs-Browser: https://github.com/asciiprod/yadifa.git

Package: yadifa
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, debconf, netbase, adduser, lsb-base (>= 3.2-14), libdnscore0 (=${binary:Version}), libdnsdb0 (=${binary:Version}), libdnszone0 (=${binary:Version})
Description: Internet Domain Name Server
 ${Description}
 .
 This package provides the server and related configuration files.

Package: libyadifa-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libdnscore0 (=${binary:Version}), libdnsdb0 (=${binary:Version}), libdnszone0 (=${binary:Version})
Description: development libraries and header files for YADIFA
 ${Description}
 .
 This package contains the header files and static libraries needed for
 developing applications for YADIFA.

