#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@  --with autotools-dev

override_dh_clean:
	dh_clean
	rm -f debian/substvars

override_dh_auto_configure:
	dh_auto_configure -- --enable-rrl --enable-nsid --with-tools --enable-ctrl

override_dh_installinit:
	dh_installinit -a --no-start

override_dh_gencontrol:
	for i in $$(sed -n '/^Package:/s/^.* //p' debian/control); do cat debian/vars.in >> debian/$$i.substvars; done
	cat debian/vars.in >> debian/substvars
	dh_gencontrol

