[Unit]
Description=YADIFA Domain Name Server
Documentation=man:yadifa(8)
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/yadifa
PIDFile=/var/run/yadifa/yadifad.pid
ExecStart=/usr/sbin/yadifad -c $CONFIG_FILE
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target
